<footer>
    <div class="f-info">
        <div class="f-info-socials">
            
            <a href="https://www.instagram.com/kadchhikrish" class="fa-brands fa-square-instagram"></a>&nbsp;
            <a href="https://www.linkedin.com/in/krish-kadchhi-41a827226" class="fa-brands fa-linkedin"></a>
        </div>
        <div class="f-info-brand">&copy;wanderlust private limited</div>
        <div class="f-info-links">
            
        </div>
    </div>
</footer>